.main {
  width: 95%;
  margin: 0 auto;
  margin-top: 1rem;
  @media screen and (max-width: 800px) {
    width: 98%;
  }

  .tab {
    padding: 0.4rem;
    background-color: #f6f6f6;
    border-radius: 0.3rem 0.3rem 0 0;
    .item {
      text-decoration: none;
      color: #80bd01;
      margin: 0 0.8rem;
      font-size: 0.9rem;
    }
    .high-light {
      background-color: #80bd01;
      color: white;
      padding: 0.2rem;
      border-radius: 0.3rem;
    }
  }
}
